body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: 80%;
  box-sizing: border-box;
  padding: 0 0 30px 0;
  margin: 0;
}

h1 {
  padding: 30px 0 0 0;
  margin: 0;
}

.input {
  height: 25px;
  width: 75px;
}

#tituloparametros {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0px 0px 0;
}

#titulooutputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0px 0px 0;
}

#titulografico {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0px 0px 0;
}

#titulotabla {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0px 0px 0;
}

#output1 {
 margin: 7px;
 }
#output2 {
 margin: 7px;
 }
#output3 {
 margin: 7px;
 }
#outputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 0px 20px 0;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 0 20px 0;
}

#outputs {
  align-self: center;  
}

#button-wrapper {
  align-self: center;  
}

#inputs button {
  font-size: 1.05em;
}

#inputs > div {
  padding: 5px 0px;
}

#inputs > div > span {
  margin: 0 20px 0 0;
}

#table {
  
  margin: 0 0 0 0px;
  text-align: center;
}

#table-wrapper {
  padding: 0px 0 20px 0;
}

table {
  font-size: 85%;
  border-collapse: collapse;
}

thead {
  background-color: #555;
  color: #fff;
}

#chart-wrapper {
  position: relative;
  height: 200px;
  width: 75%;
}

th {
  padding: 10px 4px 10px 4px;
}

td {
  padding: 6px;
}

button {
    margin: 10px 0 0 0;
}

tr:nth-child(even) {background-color: #ccc;} 
